/* font variable */
$font-family: 'Noto Sans', sans-serif;


/* Base Url Path for CDN images*/
/* Base Url Path for ftp images*/
$img-base-url: "";

/* Base Url Path for local images*/
//$img-base-url: "./../images/" !default;

/* Sprite dynamicImage Path */
$spriteIcon: url("spriteIcon.png");

